@media screen and (min-width: 320px) {
	body {
		background-color: #e2e2de;
	}
	nav {
		width: 100%;
	}
	header {
		width: 100%;
	}
	main section {
		width: 80%;
	}
	main section div {
		width: 100%;
	}
	footer {
		width: 100%;
	}

}

@media screen and (min-width: 768px) {
	body {
		background-color: #cce0cc;
	}
	nav {
		width: 100%;
	}
	header {
		width: 100%;
	}
	main section {
		width: 80%;
	}
	main section div {
		width: 25%;
	}
	footer {
		width: 100%;
	}

}

@media screen and (min-width: 1024px) {
	body {
		background-color: #e2e2de;
	}
	nav {
		width: 100%;
	}
	header {
		width: 100%;
	}
	main section {
		width: 80%;
	}
	main section div {
		width: 50%;
	}
	footer {
		width: 100%;
	}

}

@media screen and (min-width: 1366px) {
	body {
		background-color: #cce0cc;
	}
	nav {
		width: 100%;
	}
	header {
		width: 100%;
	}
	main section {
		width: 80%;
	}
	main section div {
		width: 8.333333333333333%;
	}
	footer {
		width: 100%;
	}

}